.box-divider{
    border-bottom: solid 1px #F4F4F4;
    margin: 10px 0;
    width: 100%;
}
.pull-center{
    float: initial;
    margin-left: auto;
    margin-right: auto;
}
.separate{
    margin-bottom: 10px;
}
.fa-blue{
    color: #047EA9;
}
.fa-red{
    color:#F82824;
}
.fa-brown{
    color: #4e342e;
}
.attachment-block .attachment-pushed{
	margin-left: 0 !important;
	padding: 15px;
}
form#formPersonEval > .form-group .checkbox {
    padding-left: 20px;
}
.pointer{
    font-size: 1.2em;
    cursor: pointer;
}
tr.pointer{
    font-size: 1em;
    cursor: pointer;   
}
.separate{
    margin-bottom: 10px;
}
input + label.error,
select + label.error,
textarea + label.error{
    color: #E05353;
    font-size: .9em;
    font-weight: 600;
    margin-top: 5px;
    position: absolute;
}
input[type="checkbox"] + label.error{
    margin-top: 20px;
}
#NewTest .box{
    margin-top: 10%;
}
#NewTest .box table tbody td:nth-child(1){
    word-break: break-all;
}
#NewTest .box table tbody td:nth-child(2),
#NewTest .box table tbody td:nth-child(3),
#NewTest .box table tbody td:nth-child(4),
#NewTest .box table tbody td:nth-child(5),
#NewTest .box table tbody td:nth-child(6){
    text-align: center;
}

#NewTest .radio .radioOptions{
  margin: 5px 0 0 -5px;
}
#NewTest .attachment-block{
  padding-bottom: 30px; 
}
#NewTest .checkbox label, .radio label{
    padding-left: 10px;
}
#NewTest .radio label strong span{
    font-size: .9em;
}
/*#NewTest .radio label strong span{
    padding-left: 10px;
    font-size: .9em;
}*/
#NewTest h5{
    font-size: 1.2em;
    padding-top: 15px;
}
#crudTest .content-form{
    max-height: 400px;
    overflow-x: hidden;
    overflow: auto;
}
#crudTest button.btn.btn-default.btn-xs{
    margin-left: 10px;
}
#crudTest button + button.btn.btn-default.btn-xs i{
    margin-right: 5px;
}
#crudTest ul.ul-first,
#crudTest ul.ul-second,
#crudTest ul.ul-third{
    margin-top: 30px;
    list-style: none;
}
#crudTest ul.ul-first > li > div.form-group label{
    position: relative !important;
}
#crudTest ul.ul-first li > div.form-group label > i {
    display: none;
}
#crudTest ul.ul-first li > div.form-group:hover label > i {
    color: red;
    display: inline-block;
    font-size: .8em;
    position: absolute;
    right: -15px;
    top: 0;
}
#crudTest ul.ul-first{
    padding-left: 15px!important;
}
#crudTest ul.ul-first li h2 {
    font-size: 1.6em;
    font-weight: 400;
}
#crudTest ul.ul-first li button.btn.btn-default.btn-xs{
    margin-left: 20px;
    margin-top: -5px;
}
#crudTest ul.ul-first li button.btn.btn-default.btn-xs i{
    margin-right: 5px;
}
#crudTest ul.ul-first > li,
#crudTest ul.ul-second > li,
#crudTest ul.ul-third > li{
    margin-top: 5px;
    padding: 2px;
}
#crudTest ul.ul-first ul.ul-second{
    margin-bottom: 20px;
    margin-top: 20px;
}
#crudTest ul.ul-first ul.ul-second > li > div.form-group label{
    position: relative !important;
}
#crudTest ul.ul-first ul.ul-second > li > div.form-group:hover label > i{ 
    color: red;
    display: inline-block;
    font-size: .8em;
    position: absolute;
    right: -15px;
    top: 0;
}
#crudTest ul.ul-first ul.ul-second > li > div.form-group label > i{
    display: none;
}
#crudTest ul.ul-first ul.ul-second > li > div.form-group > input.form-control {
    display: inline-block;
    margin-right: 15px;
    width: 70% !important;
}
#crudTest ul.ul-first ul.ul-second li label{
    font-size: 1.1em;
}
#crudTest ul.ul-first ul.ul-second ul.ul-third{
    margin-top: 20px;
    padding: 0px;
}
#crudTest ul.ul-first ul.ul-second ul.ul-third .form-group label{
    position: relative !important;
    padding-right: 15px;
    margin-right: 15px;
}
#crudTest ul.ul-first ul.ul-second ul.ul-third > .form-group label i {
    display: none;
}
#crudTest ul.ul-first ul.ul-second ul.ul-third > .form-group:hover label > i {
    color: red;
    display: inline-block;
    font-size: .8em;
    position: absolute;
    right: 0px;
    top: 0px;
}
#crudTest table img.logo{
    max-width: 100px;
}
#company table figure img.logo{
    display: block;
    margin:0 auto;
    max-height: 30px;
    max-width: 100px;
}




/*Tooltip Colors*/
.primary-tooltip + .tooltip > .tooltip-inner {
    background-color: #3C8DBC;
}
.primary-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color:#3C8DBC;
}
.info-tooltip + .tooltip > .tooltip-inner {
    background-color: #00C0EF;
}
.info-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color:#00C0EF;
}
.success-tooltip + .tooltip > .tooltip-inner {
    background-color: #00a65a;
}
.success-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color:#00a65a;
}
.danger-tooltip + .tooltip > .tooltip-inner {
    background-color: #a94442;
}
.danger-tooltip + .tooltip > .tooltip-arrow {
    border-bottom-color:#a94442;
}