
.box-divider{
    border-bottom: solid 1px #F4F4F4;
    margin: 10px 0;
    width: 100%;
}
.pull-center{
    margin-left: auto;
    margin-right: auto;
    float: initial;
}
.separate{
    margin-bottom: 10px;
}
.fa-blue{
    color: #047EA9;
}
.fa-red{
    color:#F82824;
}
.attachment-block .attachment-pushed{
	margin-left: 0 !important;
	padding: 15px;
}
form#formPersonEval > .form-group .checkbox {
    padding-left: 20px;
}
.pointer{
    font-size: 1.2em;
    cursor: pointer;
}
.separate{
    margin-bottom: 10px;
}
input + label.error,
select + label.error{
    color: #E05353;
    font-size: .9em;
    font-weight: 600;
    margin-top: 5px;
    position: absolute;
}
input[type="checkbox"] + label.error{
    margin-top: 20px;
}
#NewTest .box{
    margin-top: 10%;
}
#NewTest .box table tbody td:nth-child(1){
    word-break: break-all;
}
#NewTest .box table tbody td:nth-child(2),
#NewTest .box table tbody td:nth-child(3),
#NewTest .box table tbody td:nth-child(4),
#NewTest .box table tbody td:nth-child(5),
#NewTest .box table tbody td:nth-child(6){
    text-align: center;
}

#NewTest .radio .radioOptions{
  margin: 5px 0 0 -5px;
}
#NewTest .attachment-block{
  padding-bottom: 30px; 
}
#NewTest .checkbox label, .radio label{
    padding-left: 10px;
}
#NewTest h5{
    font-size: 1.3em;
    padding-top: 15px;
}


